# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

_This notebook is the first expermentation done as a part of **Tabular Playground June 2022**, here we have been given the task to impute the values in the dataset. Lets start by importing the libraries_

In [1]:
#Importing the Libs

#General
import pandas as pd
import numpy as np

# Time tracking
from tqdm import tqdm

# Path
from pathlib import Path

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Sklearn
from sklearn.impute import SimpleImputer


# Settings
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 300)

In [2]:
#reading the dataset
df = pd.read_csv('../input/tabular-playground-series-jun-2022/data.csv', index_col='row_id') # setting row_id as index column
df.head()

,F_1_0,F_1_1,F_1_2,F_1_3,F_1_4,F_1_5,F_1_6,F_1_7,F_1_8,F_1_9,F_1_10,F_1_11,F_1_12,F_1_13,F_1_14,F_2_0,F_2_1,F_2_2,F_2_3,F_2_4,F_2_5,F_2_6,F_2_7,F_2_8,F_2_9,F_2_10,F_2_11,F_2_12,F_2_13,F_2_14,F_2_15,F_2_16,F_2_17,F_2_18,F_2_19,F_2_20,F_2_21,F_2_22,F_2_23,F_2_24,F_3_0,F_3_1,F_3_2,F_3_3,F_3_4,F_3_5,F_3_6,F_3_7,F_3_8,F_3_9,F_3_10,F_3_11,F_3_12,F_3_13,F_3_14,F_3_15,F_3_16,F_3_17,F_3_18,F_3_19,F_3_20,F_3_21,F_3_22,F_3_23,F_3_24,F_4_0,F_4_1,F_4_2,F_4_3,F_4_4,F_4_5,F_4_6,F_4_7,F_4_8,F_4_9,F_4_10,F_4_11,F_4_12,F_4_13,F_4_14
row_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,-0.354591,-0.464038,2.304115,0.734486,1.696395,0.136285,-0.518344,0.502640,-1.852504,-0.500665,-1.416075,1.201521,0.551902,-0.759827,NaN,2,2,0,3,2,1,1,3,2,2,3,3,2,5,4,1,0,1,0,2,1,2,0,1,2,-0.240522,0.061529,0.561090,-0.171943,-0.431996,0.473508,0.596924,0.819306,1.479061,1.264616,-1.116881,0.759443,-0.086915,-0.620685,0.057216,1.076380,-0.780608,-1.940907,-0.717021,0.599093,0.498347,0.118770,-0.228913,NaN,0.301610,5.547214,1.066871,-0.134313,-0.101040,-0.660871,3.744152,0.794438,0.265185,-0.561809,0.196480,0.373434,6.206995,3.809505,1.236486,1.182055
1,1.380940,-0.499626,-0.418548,1.911725,-0.826130,-1.715371,-0.577091,-1.041486,0.596067,-0.363425,-0.853630,0.674525,0.843058,-0.041438,0.259496,3,5,2,1,4,2,3,2,0,0,9,3,1,4,1,2,1,0,1,1,1,1,3,2,5,-0.446068,1.433358,0.040099,-1.994062,-0.602324,-0.611391,-1.151884,0.065485,0.352023,-0.843751,1.167272,0.921445,-0.839827,0.759015,-1.547387,0.720435,-0.944045,1.796462,-1.046357,-0.581515,0.704543,0.375222,0.705963,0.032771,NaN,-1.707374,-1.188114,-0.562419,-1.462988,1.290672,-2.895826,-0.738275,2.361818,-0.060753,0.727249,-0.271882,5.232157,-4.218259,-2.724883,-0.063775
2,0.256023,-1.059874,NaN,0.345678,1.513814,1.243864,-0.509648,-0.800481,-0.115945,0.595777,-0.073235,-1.381605,-0.108676,0.703693,-0.464042,3,2,1,3,2,1,0,6,1,1,3,4,1,2,2,1,2,2,4,8,1,5,1,2,4,-0.770592,0.483139,-0.636484,-1.305018,-2.089889,0.276761,-1.208640,-0.855769,0.232363,0.215841,-1.031405,0.582437,-0.314639,-0.497409,0.489356,0.915049,-0.513410,0.904206,-0.056089,0.212927,-0.574126,-1.517749,-0.888472,0.142264,1.000822,1.914908,3.877128,NaN,0.358635,0.443973,2.252834,0.472496,2.491386,0.353381,-0.260682,-0.000833,-0.116457,-2.131747,3.661499,-0.131576
3,-0.728420,-2.432399,-2.453602,-0.020509,0.333397,0.086049,-1.787601,0.667011,0.761564,-2.217847,-0.618973,0.742112,0.494157,0.744673,-0.769181,2,3,2,1,1,1,2,0,6,2,6,2,1,1,2,3,1,2,1,2,6,2,1,0,2,-0.691020,-1.003026,0.868989,0.464920,NaN,0.499838,0.203723,-0.451576,-1.233499,0.903493,1.144558,-1.479893,-0.414316,0.024820,-0.976814,0.176633,-0.940022,-1.918049,1.506448,0.604388,0.578250,-0.122676,-0.711811,0.228523,0.999599,-2.638262,0.546676,0.865400,-0.857077,2.667105,2.004600,-4.664806,-0.847211,-0.264249,0.664334,-0.557868,8.499483,-4.738799,-3.054611,0.494152
4,0.590212,-0.066127,0.468009,-1.096038,0.119399,-1.809710,0.466358,-0.053196,-0.580320,-1.143500,1.338692,1.193330,1.038010,-0.763692,0.513466,5,0,1,3,3,0,2,5,1,3,5,5,4,4,2,0,2,3,2,5,2,2,1,0,4,1.196402,1.076537,0.486482,0.424305,0.475876,0.426978,-1.668823,-0.843056,1.008980,-0.704152,-0.894834,1.491608,-0.149938,1.256330,2.427308,0.878677,0.594314,0.380175,0.666499,-0.664403,1.276316,NaN,-1.276574,-0.768874,1.852815,-0.230342,-0.459019,1.128705,-0.748683,NaN,0.976937,2.558883,3.377724,0.846891,0.696032,0.554121,-5.979714,-2.869631,3.733057,-0.722943

In [3]:
#reading the submission file
submission = pd.read_csv('../input/tabular-playground-series-jun-2022/sample_submission.csv', index_col='row-col') #setting row-col as index
submission.head()

          value
row-col
0-F_1_14    0.0
0-F_3_23    0.0
1-F_3_24    0.0
2-F_1_2     0.0
2-F_4_2     0.0

Now that we have loaded the data, lets check the missing values & data shape for the dataframe

In [4]:
print('# of rows in the dataframe is: ', df.shape[0])
print('# of columns in the dataframe is: ', df.shape[1])

# of rows in the dataframe is:  1000000
# of columns in the dataframe is:  80

In [5]:
#missing data 
df.isnull().sum()

F_1_0     18397
F_1_1     18216
F_1_2     18008
F_1_3     18250
F_1_4     18322
F_1_5     18089
F_1_6     18133
F_1_7     18128
F_1_8     18162
F_1_9     18249
F_1_10    17961
F_1_11    18170
F_1_12    18203
F_1_13    18398
F_1_14    18039
F_2_0         0
F_2_1         0
F_2_2         0
F_2_3         0
F_2_4         0
F_2_5         0
F_2_6         0
F_2_7         0
F_2_8         0
F_2_9         0
F_2_10        0
F_2_11        0
F_2_12        0
F_2_13        0
F_2_14        0
F_2_15        0
F_2_16        0
F_2_17        0
F_2_18        0
F_2_19        0
F_2_20        0
F_2_21        0
F_2_22        0
F_2_23        0
F_2_24        0
F_3_0     18029
F_3_1     18345
F_3_2     18056
F_3_3     18054
F_3_4     18373
F_3_5     18298
F_3_6     18192
F_3_7     18013
F_3_8     18098
F_3_9     18106
F_3_10    18200
F_3_11    18388
F_3_12    18297
F_3_13    18060
F_3_14    18139
F_3_15    18238
F_3_16    18122
F_3_17    18278
F_3_18    18089
F_3_19    18200
F_3_20    18248
F_3_21    18396
F_3_22    18177
F_3_23    18206
F_3_24    18145
F_4_0     18128
F_4_1     18164
F_4_2     18495
F_4_3     18029
F_4_4     17957
F_4_5     18063
F_4_6     18325
F_4_7     18014
F_4_8     18176
F_4_9     18265
F_4_10    18225
F_4_11    18119
F_4_12    18306
F_4_13    17995
F_4_14    18267
dtype: int64

So, we see that out of the 80 columns, we have missing values in the columns with the following prefix's

- F_1_X
- F_3_X
- F_4_X

As the first strategy, let's try simple imputor from sklearn taking mean as the strategy as "mean", this is also the baseline solution provided with the dataset.

In [6]:
# Instiate the imputor
imp = SimpleImputer(missing_values=np.nan,
                   strategy='mean')

#fiting the data
data = imp.fit_transform(df)

# Display, just curious :)
data

array([[-3.54591000e-01, -4.64038000e-01,  2.30411500e+00, ...,
         3.80950500e+00,  1.23648600e+00,  1.18205500e+00],
       [ 1.38094000e+00, -4.99626000e-01, -4.18548000e-01, ...,
        -4.21825900e+00, -2.72488300e+00, -6.37750000e-02],
       [ 2.56023000e-01, -1.05987400e+00,  5.50681434e-04, ...,
        -2.13174700e+00,  3.66149900e+00, -1.31576000e-01],
       ...,
       [ 1.47534000e-01, -7.15276000e-01, -4.65049000e-01, ...,
        -5.84108000e-01, -1.49209600e+00, -9.97502000e-01],
       [-1.70988600e+00, -8.13785000e-01, -1.86653600e+00, ...,
        -1.08555400e+00,  3.12242300e+00,  4.83100000e-03],
       [-8.06380000e-01, -2.52510000e-02, -8.75477000e-01, ...,
         2.33413100e+00,  5.42542100e+00, -8.28847000e-01]])

Now that we have found the missing values, we have to fill them up in the submissions file.

In [7]:
for i in tqdm(submission.index):
    row  = int(i.split('-')[0])
    col = i.split('-')[1]
    submission.loc[i,'value'] = df.loc[row,col]
    
#save the file
submission.to_csv('submission.csv')

100%|██████████| 1000000/1000000 [01:25<00:00, 11646.61it/s]